html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  font-family: Work sans;
}
@font-face {
  font-family: "Work Sans"; /* название одно */
  src: url("fonts/WorkSans-Medium.otf"); /* разные файлы */
  font-weight: 400; /* разная плотность */
  font-style: normal;
}
@font-face {
  font-family: "Anton"; /* название одно */
  src: url("fonts/Antonregular.ttf"); /* разные файлы */
  font-weight: 400; /* разная плотность */
  font-style: normal;
}

header {
  font-weight: 500;
  /* margin: 0 auto; */
  width: 100%;
}
.main-header {
  background-color: #f1f2f4;
  height: 617px;
}
.small-text {
  font-size: 16px;
  color: #727a82;
  padding-top: 191px;
  padding-left: 5px;
  letter-spacing: 1.1px;
}

.row :after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row {
  display: inline-block;
  /* margin: 0 auto; */
}
/* start commented backslash hack \*/
h3 {
  text-align: left;
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
  padding-right: 800px;
  letter-spacing: 1.5px;
}
h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: #ffffff;
  margin: 0px;
  padding-top: 48px;
  padding-bottom: 28px;
}

section {
  margin: 0 auto;
}

.goodlinks,
.goodlinks1,
.goodlinks-two,
.footer-text,
button a {
  text-decoration: none;
}

.goodlinks {
  color: #151c22;
}
.goodlinks1 {
  color: #727a82;
}

.goodlinks-two {
  color: #ffffff;
}

footer {
  background-color: #151c22;
  min-height: 222px;
}
.underheader {
  background-color: white;
  text-align: center;
  color: #151c22;
  font-size: 24px;
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
}

.cat-header-main {
  background-color: #f1f2f4;
  height: 260px;
  /* width:100% ; */
  /* растягивает на всю ширину */
}

.footer-menu {
  color: #ffffff;
  text-align: center;
}
.footer-menu li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}
.row-links li {
  display: inline-block;
  padding-top: 71px;
  font-size: 16px;
  letter-spacing: 1px;
  padding-right: 3px;
}

.footer-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.center-align {
  text-align: center;
}

.content {
  margin-top: 125px;
  max-width: 1170px;
}

.floatted {
  float: left;
  height: 100%;
}

.head-padding {
  padding-left: 98px;
  padding-top: 48px;
  padding-right: 106px;
  margin-top: 0px;
  font-size: 16px;
  position: absolute;
}
.head-pic {
  padding-left: 98px;
  padding-bottom: 50px;
}
.logo-text {
  font-size: 140px;
  line-height: 96px;
  font-family: Anton;
  padding-left: 0px;
  padding-top: 20px;
  font-stretch: normal;
  letter-spacing: 1px;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 62px;
  margin-left: 5px;
  background-color: black;
}
button a {
  color: white;
  font-size: 16px;
}

.load-btn {
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 58px;
  padding-right: 58px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
  margin-bottom: 129px;
}

.rigth-side {
  width: 218px;
  position: relative;
}
.cat-rigth-side {
  width: 338px;
}
.adv-text {
  font-size: 32px;
  font-weight: 600;
  padding-top: 11px;
  padding-left: 1px;
}
.small-adv-text {
  font-size: 18px;
  color: #727a82;
  padding-top: 68px;
}
.adv-inner {
  background-color: #f1f2f4;
  width: 330px;
  height: 308px;
  margin-top: 31px;
  margin-bottom: 31px;
  padding-left: 70px;
}
.adv-outer {
  width: 470px;
  height: 370px;
  background-image: url(img/diag.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.shop-btn {
  padding-left: 61px;
  padding-right: 61px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: 45px;
  margin-left: 0px;
}
.products {
  font-size: 18px;
  padding-top: 20px;
}
.price {
  font-weight: 600;
  font-size: 16px;
  padding-top: 10px;
}

.links {
  color: black;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  text-decoration: none;
  border-bottom: 1.5px solid black;
}

.links:hover {
  border-bottom: 1.5px solid rgb(79, 112, 219);
}

.cat-pic-block {
  width: 359px;
}
.menu-block {
  min-width: 263px;
  position: relative;
}
.cat-left-side {
  width: 298px;
}
.btn-block {
  width: 355px;
}
.left-block {
  width: 371px;
}
.link-padd {
  padding-bottom: 29px;
}
.rigth-pic {
  margin-right: 98px;
  margin-top: 50px;
  margin-left: 100px;
}
.socials {
  font-size: 14px;
  left: 52px;
  top: 513px;
  position: absolute;
  text-align: right;
}

.pd {
  padding-right: 30px;
}
.cat-pd {
  padding-right: 66px;
  padding-bottom: 60px;
  /* потом поправить на 66px */
}
.rigth-link1 {
  margin-left: 117px;
  line-height: 23px;
}
.rigth-link2 {
  margin-left: 16px;
  line-height: 19px;
}
.pd-bot {
  padding-bottom: 60px;
}
.pd-bot2 {
  padding-bottom: 123px;
}

.scroll {
  font-size: 18px;
  color: #151c22;
  text-align: center;
  padding-top: 3px;
}

.arrow-down {
  position: absolute;
  width: 100%;
  top: 541px;
}
.portrait {
  padding: 50px;
  position: relative;
  z-index: 10;
}
.portrait::before,
.portrait::after {
  content: "";
  width: 232px;
  height: 176px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.portrait::before {
  background-image: url(img/mdiag1.png);
  top: 0px;
  left: 0px;
}
.portrait::after {
  background-image: url(img/mdiag2.png);
  bottom: 3px;
  right: 0px;
  visibility: visible;
}

.jacket-pic {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 10;
}
.jacket-pic::before,
.jacket-pic::after {
  content: "";
  width: 232px;
  height: 176px;
  z-index: -1;
  background-repeat: no-repeat;
  position: absolute;
}

.jacket-pic::before {
  background-image: url(img/diag1.png);
  bottom: -37px;
  left: 0px;
}
.jacket-pic::after {
  background-image: url(img/diag2.png);
  top: 0px;
  right: 0px;
  visibility: visible;
}

.adv {
  height: 370px;
}
.center-align img {
  padding-left: 10px;
  padding-right: 10px;
}
.rezin {
  width: 1366px;
  margin: 0 auto;
  background-color: #f1f2f4;
}

.footer-menu a:hover,
.products a:hover,
.goodlinks:hover,
.links:hover,
button:hover {
  color: rgb(79, 112, 219);
}

button:hover {
  background-color: grey;
}

.underheader-margin {
  min-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 19px;
}
.cat-menu-top li {
  display: inline-block;
  font-size: 16px;
  padding-top: 29px;
  padding-right: 28px;
}
.underheader-pic {
  position: absolute;
  top: 0px;
  right: 0px;
}
.cat-text {
  margin-top: 10px;
}
.cat-content {
  max-width: 1170px;
  margin: 0 auto;
}
.centred {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.title-name {
  padding-bottom: 0px;
}
.centred-title {
  position: absolute;
  left: 548px;
  top: -9px;
}
.small-pic {
  padding-top: 22px;
}

.circle {
  width: 16px;
  height: 16px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  margin-top: 1.5px;
  margin-bottom: 2px;
  margin-left: 1.5px;
  margin-right: 2px;
}
.color1 {
  background: #b0c3c7;
}
.color2 {
  background: #3b6392;
}
.color3 {
  background: #bfc3c8;
}
.color4 {
  background: #2d2e2e;
}
.color5 {
  background: #ececec;
}
.color6 {
  background: #4193da;
}

.fmenu {
  width: 241px;
  background-color: white;
  border: 2px solid black;
  font-size: 16px;
}
.apply {
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 26px;
  font-size: 16px;
}
.clear-all {
  font-size: 14px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 21px;
}
.farrow1,
.farrow2,
.farrow3,
.farrow4 {
  background-image: url(img/menuarrow1.png);
  background-position: right top;
  background-repeat: no-repeat;
  width: 18px;
  height: 10px;
  position: relative;
}
.farrow1 {
  margin-left: 115px;
  margin-top: 19px;
  padding-right: 17px;
  background-position-x: 0px;
}
.farrow1:hover {
  background-image: url(img/menuarrow2.png);
  background-repeat: no-repeat;
  transition: 0.5s all;
  padding-bottom: 16px;
  padding-left: 115px;
  margin-left: 0px;
  background-position-x: 115px;
  background-position-y: 0px;
}

.farrow1:hover .points {
  visibility: visible;
  transition-delay: 0.39s;
}
.farrow1:hover .fmenu {
  padding-bottom: 100px;
}

.farrow2 {
  margin-left: 149px;
  margin-top: 14px;
  padding-right: 12px;
  background-position-x: 0px;
}
.farrow2:hover {
  background-image: url(img/menuarrow2.png);
  background-repeat: no-repeat;
  transition: 0.5s all;
  padding-bottom: 84px;
  padding-left: 149px;
  margin-left: 0px;
  background-position-x: 149px;
  background-position-y: 0px;
}
.farrow2:hover .price-block {
  visibility: visible;
  transition-delay: 0.39s;
}

.farrow3 {
  margin-left: 148px;
  margin-top: 20px;
  padding-right: 8px;
  background-position-x: 0px;
}
.farrow3:hover {
  background-image: url(img/menuarrow2.png);
  background-repeat: no-repeat;
  transition: 0.5s;
  padding-bottom: 68px;
  padding-left: 148px;
  margin-left: 0px;
  background-position-x: 148px;
  background-position-y: 0px;
}
.farrow3:hover .color-block {
  visibility: visible;
  transition-delay: 0.39s;
}

.farrow4 {
  margin-left: 108px;
  margin-top: 19px;
}
.farrow4:hover {
  background-image: url(img/menuarrow2.png);
  background-repeat: no-repeat;
  transition: 0.5s all;
  padding-bottom: 90px;
  padding-left: 108px;
  margin-left: 0px;
}
.farrow4:hover .collection-block {
  visibility: visible;
  transition-delay: 0.39s;
}

.filter-by {
  padding-top: 16px;
  padding-left: 17px;
  padding-bottom: 13px;
  letter-spacing: 1px;
}

.border-row1 {
  border-bottom: 2px solid #f1f2f4;
}
.price-row {
  padding-top: 14px;
  padding-left: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.4px;
}
.color-row {
  padding-top: 16px;
  padding-left: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.4px;
}
.collection-row {
  padding-top: 16px;
  padding-left: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.4px;
}

.help-border {
  border: 1px solid blueviolet;
}
.points {
  visibility: hidden;
  position: absolute;
  left: -93px;
  top: 28px;
  padding-top: 5px;
  width: 241px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  background-color: white;
}
.price-block {
  padding-top: 16px;
  padding-bottom: 7px;
  background-color: white;
  overflow: hidden;
  position: absolute;
  top: 14px;
  left: -56px;
  visibility: hidden;
}
.color-block {
  position: absolute;
  background-color: white;
  padding-left: 16px;
  padding-bottom: 5px;
  padding-top: 20px;
  visibility: hidden;
  top: 14px;
  left: -58px;
}
.collection-block {
  font-size: 14px;
  padding-left: 20px;
  padding-bottom: 14px;
  position: absolute;
  top: 32px;
  left: -124px;
  visibility: hidden;
}
.fmenu-pd {
  height: 36px;
}
.collection-pd {
  padding-top: 4px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 11px;
  font-size: 14px;
  color: #727a82;
}
.collection-pd:hover {
  color: #151c22;
}
.circle-choise1,
.circle-choise2,
.circle-choise3,
.circle-choise4,
.circle-choise5,
.circle-choise6 {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background: white;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 10px;
  margin-right: 9px;
  display: inline-block;
}
.circle1 {
  width: 16px;
  height: 16px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 2px;
}
.circle-choise1:hover {
  border: 1px solid #b0c3c7;
  box-sizing: border-box;
}
.circle-choise2:hover {
  border: 1px solid #3b6392;
  box-sizing: border-box;
}
.circle-choise3:hover {
  border: 1px solid #bfc3c8;
  box-sizing: border-box;
}
.circle-choise4:hover {
  border: 1px solid #2d2e2e;
  box-sizing: border-box;
}
.circle-choise5:hover {
  border: 1px solid #ececec;
  box-sizing: border-box;
}
.circle-choise6:hover {
  border: 1px solid #4193da;
  box-sizing: border-box;
}
.circle-choise1:hover .circle1,
.circle-choise2:hover .circle1,
.circle-choise3:hover .circle1,
.circle-choise4:hover .circle1,
.circle-choise5:hover .circle1,
.circle-choise6:hover .circle1 {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

/* Ползунок */
input[type="range"]:focus {
  outline: none;
}

.thumb1 input[type="range"],
.thumb2 input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 103px;
  height: 3px;
  padding: 0;
  background: black;
}

.thumb1 input[type="range"]::-webkit-slider-thumb,
.thumb2 input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: black;
  box-shadow: -12px 0 white, -26px 0 white, -39px 0 white, -52px 0 white,
    -65px 0 white, -78px 0 white, -91px 0 white;
}
.thumb1 {
  margin-left: 18px;
  height: 20px;
  overflow: hidden;
  padding-bottom: 8px;
}
.thumb2 {
  transform: scale(-1, 1);
  margin-left: -5px;
  height: 20px;
  padding-bottom: 8px;
  overflow: hidden;
}

.slider-price1,
.slider-price2 {
  font-size: 14px;
  font-weight: bold;
}
.slider-price2 {
  padding-left: 108px;
}
.price-slide {
  padding-left: 31px;
  padding-bottom: 10px;
}

.menu-row {
  margin-top: 34px;
  float: right;
  margin-right: 136px;
  margin-bottom: 40px;
}

.thumb3 input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 2px;
  background: #e5e5e5;
}

.thumb3 input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 2px;
  background: black;
}
.thumb3 {
  padding-top: 0px;
  margin-top: 0px;
  line-height: 6px;
}
.product-discription {
  background-color: #f1f2f4;
  min-width: 570px;
  margin-left: 53px;
}
.product-gallery {
  font-size: 16px;
  /* просто так вставил стиль */
}

.product-discription p {
  font-size: 16px;
  width: 370px;
  margin-top: 30px;
  margin-left: 70px;
  margin-bottom: 46px;
  line-height: 19px;
  /* width: 60%; */
}

.product-card-color-block .circle-choise1,
.product-card-color-block .circle-choise2,
.product-card-color-block .circle-choise3,
.product-card-color-block .circle-choise4,
.product-card-color-block .circle-choise5,
.product-card-color-block .circle-choise6 {
  background: #f1f2f4;
}
.size-block li {
  color: #727a82;
  display: inline-block;
  padding-right: 12px;
}
.size-block li:hover {
  color: #151c22;
}
.product-card-price {
  font-size: 18px;
  font-weight: bold;
  margin-left: 70px;
  /* margin-top: -9px; */
}
.add-to-cart {
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 58px;
  padding-right: 55px;
  display: block;
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 70px;
}
h5 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 67px;
  margin-left: 70px;
}
.color-block-pc {
  margin-left: 70px;
  margin-bottom: 22px;
}
.size-block {
  margin-left: 70px;
  margin-bottom: 33px;
}
.left-arrow {
  padding-right: 60px;
}
.rigth-arrow {
  padding-left: 60px;
  margin-right: 6px;
}
.left-arrow,
.rigth-arrow {
  padding-top: 194px;
  padding-bottom: 285px;
}
.product-pic-line {
  display: block;
  max-width: 420px;
  margin-left: 70px;
  margin-top: 15px;
  /* padding-right: 10px; */
}
.product-content {
  margin-top: 52px;
  width: 1170px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  /* overflow: hidden; */
}
.product-option {
  margin-bottom: 20px;
  font-size: 18px;
}
.product-pic-line img {
  padding-right: 20px;
}
h6 {
  text-align: left;
  font-size: 30px;
  font-weight: 900;
  /* margin: 0px; */
  margin-top: -2px;
  padding-right: 704px;
  letter-spacing: 1.2px;
}
.product-card-bottom {
  margin-bottom: 60px;
}
.product-card-bt {
  margin-bottom: 124px;
}
.products a {
  text-decoration: none;
  color: black;
}
