html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}
@font-face {
  font-family: "Work Sans"; /* название одно */
  src: url("fonts/WorkSans-Medium.otf"); /* разные файлы */
  font-weight: 400; /* разная плотность */
  font-style: normal;
}
@font-face {
  font-family: "Anton"; /* название одно */
  src: url("fonts/Antonregular.ttf"); /* разные файлы */
  font-weight: 400; /* разная плотность */
  font-style: normal;
}

header {
  font-family: Work Sans;
  font-weight: 500;
  /* margin: 0 auto; */
  width: 100%;
}
.main-header {
  background-color: #f1f2f4;
  height: 617px;
}
.small-text {
  font-family: Work sans;
  font-size: 16px;
  color: #727a82;
  padding-top: 191px;
  padding-left: 5px;
  letter-spacing: 1.1px;
}

.row :after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row {
  display: inline-block;
  /* margin: 0 auto; */
}
/* start commented backslash hack \*/
h3 {
  text-align: left;
  font-size: 30px;
  font-weight: 900;
  font-family: Work Sans;
  margin: 0px;
  padding-right: 800px;
  letter-spacing: 1.5px;
}
h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: #ffffff;
  margin: 0px;
  padding-top: 48px;
  padding-bottom: 28px;
  font-family: Work Sans;
}

div {
  /* border: 1px solid blueviolet; */
}
section {
  /* border: 1px solid red; */
  /* margin-left: 98px; */
  /* margin-right: 98px; */
  margin: 0 auto;
}

.goodlinks {
  text-decoration: none;
  color: #151c22;
}
.goodlinks1 {
  text-decoration: none;
  color: #727A82;
}

.goodlinks-two {
  text-decoration: none;
  color: #ffffff;
}

.goodlinks:hover {
  /* text-decoration: none; */
  color: rgb(79, 112, 219);
}

footer {
  background-color: #151c22;
  min-height: 222px;
}
.underheader {
  background-color: white;
  text-align: center;
  font-family: Work Sans;
  color: #151c22;
  font-size: 24px;
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 20px;
  
}

ul {
  list-style-type: none;
}

.cat-header-main {
  background-color: #f1f2f4;
  height: 260px;
  /* width:100% ; */
  /* растягивает на всю ширину */
  
  
}

.footer-menu {
  color: #ffffff;
  text-align: center;
}
.footer-menu li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}
.row-links li{
  display: inline-block;
  padding-top: 71px;
  font-size: 16px;
  letter-spacing: 1px;
  padding-right: 3px;
}

.footer-text {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-family: Work Sans;
  font-weight: 500;
}
.center-align {
  text-align: center;
}

.content {
  margin-top: 125px;
  max-width: 1170px;
}

.floatted {
  float: left;
  height: 100%;
}

.head-padding {
  padding-left: 98px;
  padding-top: 48px;
  padding-right: 106px;
  margin-top: 0px;
  font-size: 16px;
  position: absolute;
}
.head-pic {
  padding-left: 98px;
  padding-bottom: 50px;
}
.logo-text {
  font-size: 140px;
  line-height: 96px;
  font-family: Anton;
  padding-left: 0px;
  padding-top: 20px;
  font-stretch: normal;
  letter-spacing: 1px;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: black;
  margin-top: 62px;
  margin-left: 5px;
}
button a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Work sans;
  /* letter-spacing: 2px; */
}
select {
  border: 2px solid black;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 132px;
  font-size: 18px;

  font-family: Work sans;
  color: black;
  margin-left: 929px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.load-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 58px;
  padding-right: 58px;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
  margin-bottom: 129px;
  font-size: 16px;
}

.rigth-side {
  width: 218px;
  position: relative;
  /* margin-right: auto; */
}
.cat-rigth-side {
  width: 338px;
}
.adv-text {
  font-family: Work sans;
  font-size: 32px;
  font-weight: 600;
  padding-top: 11px;
  padding-left: 1px;
}
.small-adv-text {
  font-family: Work sans;
  font-size: 18px;
  color: #727a82;
  padding-top: 68px;
}
.adv-inner {
  background-color: #f1f2f4;
  width: 330px;
  height: 308px;
  margin-top: 31px;
  margin-bottom: 31px;
  padding-left: 70px;
}
.adv-outer {
  width: 470px;
  height: 370px;
  background-image: url(img/diag.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.shop-btn {
  padding-left: 61px;
  padding-right: 61px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: 45px;
  margin-left: 0px;
}
.products {
  font-family: Work sans;
  font-size: 18px;
  padding-top: 20px;
}
.price {
  font-family: Work sans;
  font-weight: 600;
  font-size: 16px;
  padding-top: 10px;
}

.links {
  color: black;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  text-decoration: none;
  border-bottom: 1.5px solid black;
}

.links:hover {
    color: rgb(79, 112, 219); 
    border-bottom: 1.5px solid rgb(79, 112, 219);
}

.cat-pic-block {
  width: 359px;
}
.menu-block {
  min-width: 263px;
  position: relative;
}
.cat-left-side {
  width: 298px;
  /* либо поправить 298 либо убрать */
}
.btn-block {
  width: 355px;
}
.left-block {
  width: 371px;
}
.link-padd {
  padding-bottom: 29px;
}
.rigth-pic {
  margin-right: 98px;
  margin-top: 50px;
  margin-left: 100px;
}
.socials {
  font-size: 14px;
  left: 52px;
  top: 513px;
  position: absolute;
  text-align: right;
}

.pd {
  padding-right: 30px;
}
.cat-pd {
  padding-right: 66px;
  padding-bottom: 60px;
  /* потом поправить на 66px */
}
.rigth-link1 {
  margin-left: 117px;
  line-height: 23px;
}
.rigth-link2 {
  margin-left: 16px;
  line-height: 19px;
}
.pd-bot {
  padding-bottom: 60px;
}
.pd-bot2 {
  padding-bottom: 123px;
}
.hhelp {
  border: 2px solid greenyellow;
}
.scroll {
  font-family: Work sans;
  font-size: 18px;
  color: #151c22;
  text-align: center;
  padding-top: 3px;
}
.scrollbar {
  width: 200px;
  height: 6px;
  background: #f5f5f5;
  overflow-y: scroll;
}

.force-overflow {
  min-width: 400px;
}

#wrapper {
  padding-left: 593px;
  padding-top: 5px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  height: 6px;

  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: black;
}
.arrow-down {
  position: absolute;
  width: 100%;
  top: 541px;
}
.portrait {
  padding: 50px;
  position: relative;
  z-index: 10;
}



.portrait::before {
  content: "";
  width: 232px;
  height: 176px;
  background-image: url(img/mdiag1.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.portrait::after {
  content: "";
  width: 232px;
  height: 176px;
  background-image: url(img/mdiag2.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 3px;
  right: 0px;
  z-index: -1;
  visibility: visible;
}
.jacket-pic{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 10;
}
.jacket-pic::before {
  content: "";
  width: 232px;
  height: 176px;
  background-image: url(img/diag1.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -37px;
  left: 0px;
  z-index: -1;
}
.jacket-pic::after {
  content: "";
  width: 232px;
  height: 176px;
  background-image: url(img/diag2.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  visibility: visible;
}



.adv {
  height: 370px;
}
.center-align img {
  padding-left: 10px;
  padding-right: 10px;
}
.rezin {
  width: 1366px;
  margin: 0 auto;
  background-color: #f1f2f4;
}

.footer-menu a:hover {
    color: rgb(79, 112, 219); 
}
/* form a:hover{
    color: rgb(79, 112, 219); 

} */
button:hover{
    background-color: grey;
    color: rgb(79, 112, 219); 
}

.underheader-margin {
  min-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 19px;
}
.cat-menu-top li{
  display:inline-block; 
  font-size: 16px;
  /* border: 1px solid orangered; */
  /* padding-left: 10px; */
  padding-top: 29px;
  padding-right: 28px;
}
.underheader-pic{
  /* padding-top: 22px; */
  position: absolute;
  top: 0px;
  right: 0px
}
.cat-text {
  margin-top: 10px;
 
  }
.cat-content{
  max-width: 1170px;
  margin: 0 auto;
}
.centred {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.title-name{
  padding-bottom: 0px;
}
.centred-title{
position: absolute;
left: 548px;
top: -9px;
}
.small-pic {
  padding-top: 22px;
}