body {
    background-color: white;
    width: 1366px;
    
}
header{
    
    font-family: Work Sans;
    font-weight: 500;
    
}
h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    margin: 0px;
    padding-top: 52px;
    padding-bottom: 17.5px;
    font-family: Work Sans;
    }

div {
    border: 1px solid blueviolet;
}

.goodlinks {
    text-decoration: none;
    /*color: #151C22;*/
}

.goodlinks-two {
    text-decoration: none;
    color: #ffffff;
}

footer {
    background-color: #151C22;
    min-height: 222px;
    
}
.underheader {
    background-color: white;
    text-align: center;
    font-family: Work Sans;
    color: #151C22;
    font-size: 24px;
    font-weight: 800;
}

ul {
    list-style-type: none;
}


.header-main{
    background-color: #F1F2F4;
    min-height: 617px;
}

.footer-menu {
    
    color: #ffffff;
    text-align:center;
}
.footer-menu li {
    display: inline;
    padding-left: 17.5px;
    padding-right: 17.5px;
        
}

.footer-text {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: Work Sans;
    font-weight: 500;
}
.center-align{
    text-align:center;
}

